.question {
    text-align: left;
    width: 399px;
    padding-top: 40px;
    color: #293264;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 11.98px;
}

.answers {
    margin-bottom: 15px;
}

.answers Button {
    min-height: 20.65px;
    border-radius: 7.942px;
    background: #F5F7FB;
    border: 0.794px solid #4D5B9E;
    display: flex;
    margin-bottom: 5px;
}

.answers Button:focus, 
.answers Button:active {
    outline: none;
}

.answers Button p {
    color: #293264;
    text-align: left;
    font-size: 10.24px;
}

.sep-line {
    width: 399px;
    height: 0.794px;
    background: #DBDEF0;
}